<div class='col-xs-12'>
  <p id="notice"><%= notice %></p>

<h1>Listing Links</h1>

<table class='table sortable'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Image</th>
      <th>Subtitle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
    <%= content_tag :tr, class: "item", data: {item_id: link.id, post_path: url_for([:update_row_order, :administration, :projects])} do %>
        <td><%= link.name %></td>
        <td><%= link.url %></td>
        <td><%= image_tag link.image.url(:thumb) %></td>
        <td><%= link.subtitle %></td>
        <td>
          <div class='btn-group'>
            <%= link_to 'Show', [:administration, link], class: "btn btn-default" %>
            <%= link_to 'Edit', edit_administration_link_path(link), class: "btn btn-default" %>
            <%= link_to 'Destroy', [:administration, link], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </div>
        </td>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Link', new_administration_link_path, class: "btn btn-primary" %>
</div>