<header class='front' data-dynamic-color="primary">
  <%= render :partial => 'flash' %>
  
  <%= content_tag :h1, class: 'site-title' do %>
    <%= link_to "Ben Polinsky Web Design", root_path %>
  <% end %>
  
  <div class='header-quick-links'>
    <%= link_to "resume", "/ben_polinsky_resume_april_2017.pdf", target: 'new', class: "email-me bdp-btn" %>
    <%= link_to "Email", "mailto:benjamin.polinsky@gmail.com", class: "email-me bdp-btn" %>      
  </div>
  <%= select_tag "change_scheme", options_for_select(["default", "morning", "night", "afternoon", "nightOwl"]), {class: "change-scheme"} %>
</header>