<aside class='crumbs'>
    <%= link_to "Home", root_path, class: "crumb-link"%>
    <span class='crumb-separator'>&raquo;</span>
    <%= link_to "Projects", front_projects_path, class: "crumb-link"%>
    <span class='crumb-separator'>&raquo;</span>
    <%= link_to @project.name.capitalize, front_project_path(@project), class: "crumb-link"%>
</aside>

<section class='project'>
  <%= content_tag :h1, @project.name, class: "project-title" %>
  
  <div class='project-image-container'>
    <%= image_tag @project.image %>
  </div>
  
  <div class='description'>
    <%= @project.description %>
  </div>
</section>