<aside class='crumbs'>
    <%= link_to "Home", root_path, class: "crumb-link"%>
    <%= link_to "Projects", front_projects_path, class: "crumb-link"%>
    <%= link_to "Mineraliety", front_project_path(@project), class: "crumb-link"%>
</aside>

<section class='project'>
  <%= content_tag :h1, @project.name %>
  
  <div class='project-image-container'>
    <%= image_tag @project.image %>
  </div>
  
  <div class='description'>
    <%= @project.description %>
  </div>
</section>