<!--DEMO01-->
<div id="animatedModal">
    <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
    <div class="close-animatedModal"> 
        <%= image_tag 'x' %>
    </div>
       
    <div class="modal-content">
      <div class='contact-form'>
        <%= form_tag "contact", data: {parsley_validate: true} do |f| %>
          <h1>Hello!  How Can I Help?</h1>
          <%= label_tag :email, "Email Address:" %>
          <%= email_field_tag :email, '', data: {parsley_required: true, parsley_email: true, parsley_required_message: "Please enter a valid email address!"} %>
          <%= label_tag :message, "Your Message:" %>
          <%= text_area_tag :message, '', data: {parsley_required: true, parsley_required_message: "What, no message?"} %>
          <%= button_tag "Contact" %>
        <% end %>
      </div>
    </div>
</div>