<div class='col-xs-12'>
  <p id="notice"><%= notice %></p>

<h1>Listing Projects</h1>

<table class='table sortable'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Client</th>
      <th>Site url</th>
      <th>Image</th>

      <th>Creation date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
    <%= content_tag :tr, class: "item", data: {item_id: project.id, post_path: url_for([:update_row_order, :administration, :projects])} do %>
        <td><%= project.name %></td>
        <td><%= project.client %></td>
        <td><%= project.site_url %></td>
        <td><%= image_tag project.image.url(:thumb) %></td>
        <td><%= project.creation_date %></td>
        <td>
          <div class='btn-group'>
            <%= link_to 'Show', [:administration, project], class: "btn btn-default" %>
            <%= link_to 'Edit', edit_administration_project_path(project), class: "btn btn-default" %>
            <%= link_to 'Destroy', [:administration, project], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </div>
        </td>
        <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_administration_project_path, class: "btn btn-primary" %>
</div>