<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Client:</strong>
  <%= @project.client %>
</p>

<p>
  <strong>Site url:</strong>
  <%= @project.site_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @project.image %>
</p>

<p>
  <strong>Public repo:</strong>
  <%= @project.public_repo %>
</p>

<p>
  <strong>Creation date:</strong>
  <%= @project.creation_date %>
</p>

<p>
  <strong>Show on Front?:</strong>
  <%= @project.show_on_front ? "YES" : "NO" %>
</p>

<p>
  <strong>Front Description:</strong>
  <%= @project.front_description %>
</p>

<%= link_to 'Edit', edit_administration_project_path(@project) %> |
<%= link_to 'Back', administration_projects_path %>
