<div class='col-xs-12'>
  <%= bootstrap_form_for(@project) do |f| %>

    <%= f.text_field :name %>

    <%= f.text_field :client %>

    <%= f.text_field :site_url %>

    <%= f.text_area :description %>

    <%= f.file_field :image %>

    <%= f.text_field :public_repo %>

    <%= f.datetime_select :creation_date %>

    <%= f.submit %>
<% end %>
</div>