<div class='col-xs-12'>
  <%= bootstrap_form_for(@link) do |f| %>

    <%= f.text_field :name %>
 
    <%= f.text_field :url %>
 
    <%= f.file_field :image %>

    <%= f.text_field :subtitle %>

    <%= f.submit %>

<% end %>
</div>