<!DOCTYPE html>
<html>
<head>
  <title>Benpolinskyweb</title>
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://use.typekit.net/ttp0tmc.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <%= favicon_link_tag 'favicon.png' %>
</head>
<body class="<%= body_class %>">
<% unless flash.empty? %>
  <div class='main-errors'>
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>
  </div>
<% end %>

<header class='admin-header'>
  <nav class='navbar bg-inverse navbar-dark main'>
    <div class='nav navbar-nav'>
     
      <%= active_link_to "Links", main_app.administration_links_path, class: "nav-item nav-link" %>
      <%= active_link_to "Projects", main_app.administration_projects_path, class: "nav-item nav-link" %>
      <%= active_link_to "Sign Out", main_app.destroy_admin_session_path, method: :delete, class: "nav-item nav-link" %>
      <%= abstract_resource_admin_nav %>
      <%= active_link_to "Custom Fields", bp_custom_fields.root_path, class: "nav-item nav-link" %>
    </div> 
  </nav>                  
</header>

<%= yield %>

</body>
</html>
