<!DOCTYPE html>
<html>
<head>
  <title>Benpolinskyweb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://use.typekit.net/ttp0tmc.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>
<div class='errors-and-notices'>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>
<%= yield %>

</body>
</html>
