<!DOCTYPE html>
<html>
<head>
  <title>Benpolinskyweb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1 class='site-title'>Ben Polinsky Web Design</h1>
    <%= link_to "benjamin.polinsky@gmail.com", "mailto:benjamin.polinsky@gmail.com", class: "email-me" %>
    
    <div class='sub-title'>
      <div>Ruby on Rails</div>
      <div>Wordpress</div>
      <div>Javascript Frameworks</div>
      <div>Adobe Creative Suite</div>
    </div>
  </header>
  
  <div class='main-container'>
    <%= yield %>  
  </div>
  
  <footer>
    <div class='links-container'>
      <% @links.each do |link| %>
        <%= link_to link.name, link.url, class: "footer-link" %>
      <% end %>
    </div>    
  </footer>  
</body>
</html>
