<!DOCTYPE html>
<html>
<head>
  <title>Ben Polinsky - Philadelphia Web Design and Development</title>
  <%= stylesheet_link_tag    'application', 'parsley', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_pack_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://use.typekit.net/alc5rtb.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <%= favicon_link_tag 'favicon.png' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="<%= body_class %> ">
 <%= render 'header' %>
  
  <main role='main' class='front'>
    <%= yield %>  
  </main>
  
  

  <%= render :partial => 'shared/quick_modal' %>

  <footer class='main'>
    <div class='footer-container'>
      <%= link_to "Drop me a line if you're interested in working together.", '#', class: "modal-click footer-contact-link" %>      
      <div class='links-container'>
        <% @links.each do |link| %>
          <div class='footer-link'>
            <%= link_to link.url do %>
              <%= image_tag link.image.url %>
              <%= content_tag :p, link.subtitle, class: "footer-link-subtitle" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </footer>

</body>
</html>
