<!DOCTYPE html>
<html>
<head>
  <title>Benpolinskyweb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://use.typekit.net/ttp0tmc.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link rel="icon" 
        type="image/png" 
        href="favicon.png">
</head>
<body class="<%= body_class %> ">
  <header class='front'>
        
    <div class='errors-and-notices'>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    
    <h1 class='site-title'>Ben Polinsky Web Design</h1>
    <%= link_to "benjamin.polinsky@gmail.com", "mailto:benjamin.polinsky@gmail.com", class: "email-me" %>
    
    <div class='sub-title'>
      <div>Ruby on Rails</div>
      <div>Javascript</div>
      <div>Wordpress</div>
      <div>Adobe Creative Suite</div>
    </div>
  </header>
  
  <div class='main-container'>
    <%= yield %>  
  </div>
  
  <footer>
    <div class='links-container'>
      <% @links.each do |link| %>
        <div class='footer-link'>
          <%= image_tag link.image.url %>
          <%= content_tag :p, link.subtitle, class: "footer-link-subtitle" %>
        </div>
      <% end %>
    </div>    
  </footer>  
</body>
</html>
